[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Hh]elp/
[Pp]ackages/
[Ll]ogs/
[Ll]ib/
_[Rr]e[Ss]harper.*/
_[Nn][Cc]runch_*/
*.[Cc]ache
.svn/
TestResults/
Packages.dgml
*.suo
*.sln.cache
*.[Uu]ser
*.orig
*.vsmdi
*.testrunconfig
*.docstates
*.Publish.xml
*.dbmdl
*.[Rr]e[Ss]harper*
*.dotCover
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.local.xml
*.crunchproject.local.xml
*.log
*.vbw
*.exp
*.lib
*.sublime-workspace

